
<p id="notice"><%= notice %></p>
<div class="col-md-12 text-center">
<h1>Table Users</h1>
<p></p>
<div class="h-30"></div>
<table class="table table-sm" id="a">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documento</th>
      <th>Direccion</th>
      <th>Ocupacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_users.each do |table_user| %>
      <tr>
        <td><%= table_user.name %></td>
        <td><%= table_user.email %></td>
        <td><%= table_user.documento %></td>
        <td><%= table_user.direccion %></td>
        <td><%= table_user.ocupacion %></td>
        <td><%= link_to 'Show', table_user %></td>
        <td><%= link_to 'Edit', edit_table_user_path(table_user) %></td>
        <td><%= link_to 'Destroy', table_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_table_user_path %>
